<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/heads :: heads"></head>
<body th:style="'background:url('+ @{/static/pic/background.jpg} +');'">
<div class="top-bar" th:insert="blocks/header :: header"></div>
<br>

<div class="row column">
    <div class="cell" th:each="car : ${catalog}">
        <a th:href="@{|/catalog/${car.id}|}">
            <img class="numberImage thumbnail" th:src="@{|/static/img/${car.filename}|}">
        </a>
        <h5 th:text="${car.brand} + ' '+ ${car.model}"></h5>
        <h5 th:text="'Year of issue: '+ ${car.year}"></h5>
        <h5 th:text="'Price: '+ ${car.price} + '$'"></h5>
        <a th:value="${car}" th:href="@{|/catalog/${car.id}|}" class="button hollow tiny expanded">View</a>
    </div>
</div>
<div class="row column" th:insert="blocks/footer :: footer"></div>

<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>

