<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="foot">
        Visit us on our social&nbsp&nbsp
        <a href="https://vk.com/"><img class="icons" src="/static/pic/vk.png"></a>&nbsp&nbsp
        <a href="https://www.facebook.com/"><img class="icons" src="/static/pic/facebook.png"></a>&nbsp&nbsp
        <a href="https://www.instagram.com/"><img class="icons" src="/static/pic/instagram.png"></a>&nbsp&nbsp
        <a href="/feedback"><img class="icons" src="/static/pic/mail.png"></a>
    </div>
</div>